@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/play-v19-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/play-v19-latin-700.woff2') format('woff2');
}

:root {
    --color-primary-white: #FFFFFF;
    --color-primary-blue: #2B7FFF;
    --color-primary-dark-blue: #011C44;
    --color-primary-dark-grey: #4A4A4A;
    --color-secondary-grey: #747272;
    --color-secondary-black: #000000;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: var(--color-primary-dark-blue);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.link {
    color: var(--color-primary-dark-blue);
}

.link:hover {
    color: var(--color-primary-blue);
    font-weight: 700;
}

/* Main section */
.main-section p {
    font-size: 18px;
}

.main-section .accent {
    color: var(--color-primary-dark-grey);
    font-size: 12px;
    line-height: 1.5;
}

.main-title {
    color: var(--color-primary-blue);
    font-family: "Play", sans-serif;
    font-size: 140px;
    font-weight: 700;
    line-height: 0.81;
}

.button {
    border-radius: 32px;
    background-color: var(--color-primary-blue);
    color: var(--color-primary-white);
    border: 2px solid var(--color-primary-blue);
    cursor: pointer;
}

.button:hover {
    background-color: transparent;
    color: var(--color-primary-dark-blue);
}

.title-section {
    color: var(--color-primary-dark-blue);
    font-family: "Play", sans-serif;
    font-size: 64px;
    font-weight: 700;
}

.title-section span {
    color: var(--color-primary-blue);
}

.about-text {
    line-height: 1.72;
}

.about-text p span {
    font-weight: 600;
    text-transform: capitalize;
}

.why-we-blocks {
    display: flex;
    align-items: flex-start;
    gap: 56px;
    width: 1060px;
    margin: 0 auto;
}
.why-we-blocks div {
    background-color: var(--color-primary-dark-grey);
    border-radius: 32px;
    font-size: 18px;
    line-height: 1.33;

    display: flex;
    flex-wrap: wrap;
    height: 180px;
    padding: 24px 32px;
    justify-content: center;
    align-items: center;

    width: 252px;
    height: 133px;
    text-align: center;
}