.rotate {
    transform: rotate(180deg);
}

.accent {
    color: var(--color-primary-dark-grey);
    font-size: 12px;
    line-height: 1.5;
    padding-left: 24px;
}

.bold {
    font-weight: 600;
    text-transform: capitalize;
}

.rounded {
    border-radius: 50%;
}

.brand {
    color: var(--color-primary-blue);
}