.contacts-section {
    padding-bottom: 94px;
}

.contacts-title {
    margin-bottom: 48px;
}

.contacts-container {
    display: flex;
    gap: 32px;
    padding: 0 90px;
}

.contact-map {
    border-radius: 32px;
}

.contact-form {
    flex-grow: 1;
    border-radius: 32px;
    background-color: var(--color-primary-dark-blue);
    padding: 48px 56px; 
}