.footer {
    position: relative;
    padding: 56px 0;
    background-color: var(--color-primary-dark-blue);
    overflow: hidden;

    &::after {
        content: "";
        background-image: url(../images/decor-footer.webp);
        position: absolute;
        width: 272px;
        height: 152px;
        right: -25px;
        bottom: 0;
    }

    &__container {
        display: flex;
        gap: 20px;
    }
    
    &__nav,
    &__address {
        display: flex;
        flex-basis: 50%;
        gap: 20px;
    }
    
    &__logo {
        flex-grow: 1;
    }
    
    &__menu,
    &__list,
    &__address-info {
        display: flex;
        flex-direction: column;
        gap: 16px;
        flex-grow: 1;
    }
    
    &__address-copyright {
        font-size: 13px;
        color: var(--color-secondary-grey);
        margin: 0;
    }
    
    &__link {
        color: var(--color-primary-white);
        font-size: 16px;
        transition: color .2s;

        &:hover {
            color: var(--color-primary-blue);
        }
    }
    
    &__social {
        display: flex;
        gap: 24px;
    }
    
    &__icon {
        fill: var(--color-primary-white);
    }
}