.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
    padding: 32px 0;
    z-index: 1;

    &__container {
        display: flex;
        gap: 40px;
        align-items: center;
        justify-content: space-between;
    }
    
    &__menu {
        display: flex;
        gap: 56px;
    }
    
    &__social {
        display: flex;
        gap: 32px;
    }
    
    &__icon {
        fill: var(--color-primary-dark-blue);
    }
}