.main-section {
    padding: 124px 0;
    background: linear-gradient(89deg, #FFF 30.62%, rgba(255, 255, 255, 0.85) 41.31%, rgba(255, 255, 255, 0.19) 58.65%, rgba(255, 255, 255, 0.00) 72.78%),
    url(../images/main-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center bottom;

    &__container {
        display: flex;
        gap: 40px;
        flex-direction: column;
        max-width: 530px;
    }
    
    &__logo {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
    &__call {
        display: flex;
        flex-direction: column;
        gap: 14px;
        align-items: flex-start;
        width: 100%;
        max-width: 228px;
    }
    
    &__text {
        font-size: 18px;
    }
    
    &__title {
        color: var(--color-primary-blue);
        font-family: "Play", sans-serif;
        font-size: 140px;
        font-weight: 700;
        line-height: 0.81;
        margin-bottom: 0;
    }
}
