.section {
    padding: 48px 0;
}

.title-section {
    color: var(--color-primary-dark-blue);
    font-family: "Play", sans-serif;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
}

.title-section span {
    color: var(--color-primary-blue);
}